* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* line 12th - */

.my-box {
    width: 400px;
    height: 400px;
    background-color: teal;
}

.my-table-active * {
    background-color: #148e8e !important;
}